/*.App {
  text-align: center;
}*/
body{
	font-size:80% ;  /*-- Enables font size scaling in MSIE  --*/
	background:#FFFFFF url(./images/body_bg.jpg) repeat-x 0 0;
	margin:0;
	padding:0;
	font:normal 13px Trebuchet MS; 
	}
 /* HEADER */
#header {
	height:98px;
	}
/* LOGO */
#selLogo {
	width:199px;
	/*padding:15px 0 0 0;*/
	}
#selLogo h1 {
	background:url(./images/logo.jpg) no-repeat 0 0;
	}
#selLogo h1 a {
	display:block;
	height:61px;
	overflow:hidden;
	text-indent:-1000em;
	width:200px;
	}
/* END OF LOGO */
/* MENUS */
.clswrapper {
    width: 1165px;
    margin: 0 auto;
}
.clsMenu ul {
	margin-top:20px;
	}
.clsMenu li {
	background:url(./images/menu_li.jpg) no-repeat right;
	display:inline;
	padding:0 15px 5px;
}
.clsMenu li a {
	font-weight:normal;
	color:#d2cece;
	}
.clsMenu li a:hover {
	text-decoration:underline;
	}
.clsMenu li a:hover, .clsActive {
	color:#6cad09;
	}
.active {
	color: #6cad09 !important;
}
.login {
	  width: 51px;
    height: 22px;
		padding: 0 !important;
		font-size: 12px !important;
    line-height: 5px !important;
}
/* END OF MENUS */
/* END OF HEADER */
  .clearfix {
    display: block;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* End hide from IE-mac */
.clsFloatLeft{
	float:left;
	}
  #banner {
	background:url(./images/banner.jpg) no-repeat 0 0;
	height:274px;
	margin-top:2px;
	}
  .clsReadmore {
    margin: 28px 0 0 5px;
    background: url(./images/read_more_1.jpg) no-repeat left center;
    height: 22px;
    width: 73px;
    line-height: 20px;
}

.clsReadmore a {
	color:#FFFFFF;
	float:left;
	padding-left:8px;
	text-decoration:none;
	text-align:center;
	}
.clsReadmore a:hover {
	text-decoration:none;
	}
.clsBannerText {
	padding:135px 420px 0 10px;
	font:12px Arial;
	line-height:19px;
	}
.clsFloatRight{
	float:right;
	}
.clsMenu .clsNoBorder ,.clsFooter_menu .clsNoBorder {
	background:none;
	}
/* END OF COMMON CSS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
	margin: 0px auto;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}*/

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.8); transition: opacity 500ms; display: block; z-index: 2; }
.loader { position: absolute; left: 50%; top: 50%; z-index: 4; width: 150px; height: 150px; margin: -75px 0 0 -75px; border: 16px solid #F3F3F3; border-radius: 50%; border-top: 16px solid #2BD3CE; border-bottom: 16px solid #2BD3CE; width: 120px; height: 120px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; transform: translateY(-50%) !important; text-align: center; transform: translateX(-50%) !important; }
